
.my-color {
	color: #c9d1d9;
}

.my-font {
	font-family: 'Work Sans';
}

.login-pf body {
	background-color: #0d1117;
	background-image: none;
}

.card-pf {
	background-color: #161b22;
	color: #c9d1d9
}

#kc-locale {
	display: none
}

.checkbox label {
	color: #c9d1d9
}

.alert {
	display: none
}

.form-control {
	color: #c9d1d9;
	background-color: #0d1117;
	border: 1px solid #30363d;
	border-radius: 6px;
}

.form-control:focus {
	box-shadow: none
}

.btn-primary {
	background-color: #238636;
	border: none;
	background-image: none;
	padding: 8px 10px;
	border-radius: 6px;
	transition-duration: .3s;
}

.btn-primary:hover {

	background-color: #39a54f;
}
