
.my-color {
	color: #363636;
}

.my-font {
	font-family: 'Work Sans';
}

.login-pf body {
	background-color: white;
	background-image: none;
}


#kc-locale {
	display: none
}

.alert {
	display: none
}

.form-control {
	border: 1px solid #959393;
	border-radius: 6px;
}

.form-control:focus {
	box-shadow: none;
	border-color: #1976d2
}

.btn-primary {
	background-color: #1976d2;
	border: none;
	background-image: none;
	padding: 10px 10px;
	border-radius: 6px;
	transition-duration: .3s;
}

.btn-primary:hover {
	background-color: #0568ca;
}
